$color-orange: #ec4300;
$color-black: #000;
$color-teal: teal;
$color-blue: darkblue;
$color-white: white;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}
@mixin display($dflex, $justify, $align, $flexdir) {
  display: $dflex;
  flex-direction: $flexdir;
  justify-content: $justify;
  align-items: $align;
}
@mixin button($color, $bg) {
  margin: 20px auto;
  padding: 10px 30px;
  border: none;
  color: $color;
  background-color: $bg;
  border-radius: 10px;
  cursor: pointer;
}
.counter-wrapper {
  background-color: rgba(255, 228, 196, 0.669);
  padding: 40px 30px;
  width: 100vw;
  min-height: 20vh;
  @include display(flex, center, center, column);
  .btn-counter {
    @include button($color-white, $color-orange);
  }
  .count {
    color: $color-teal;
    font-weight: bolder;
  }
}
